name: Semantic Release
on:
  push:
    branches: [main]

concurrency: release

permissions:
  id-token: write
  contents: write   # necesario para crear tags y releases

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
          with:
            fetch-depth: 0
        - name: Python Setup
          uses: actions/setup-python@v4
          with:
            python-version: '3.12'
        - name: Install Dependencies
          run: |
            python -m pip install --upgrade pip
            pip install build 
        - name: Python Semantic Release
          uses: python-semantic-release/python-semantic-release@v9.8.0 
          with:
            github_token: ${{ secrets.GITHUB_TOKEN }}